In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('fullSP.csv').sample(n=10)
data

    Symbol                       Name                  Sector
112   CSCO              Cisco Systems  Information Technology
190   FAST                   Fastenal             Industrials
189     FB                   Facebook  Communication Services
267    KSU       Kansas City Southern             Industrials
54     ADP  Automatic Data Processing  Information Technology
129    GLW                    Corning  Information Technology
184   EXPE              Expedia Group  Consumer Discretionary
317    MHK          Mohawk Industries  Consumer Discretionary
19    ALGN           Align Technology             Health Care
409    SEE                 Sealed Air               Materials

In [14]:
data.to_csv('targetSP.csv', index=False)